.header {
    font-family: sans-serif;
    .icon{color: #0065a6; font-size: 30px; width: 30px; height: 30px;}
}
.form{
    &_icon{position: relative; bottom: 79%; left: 88%; color: #0065a6;}
}
.nav_color{
    background-color: #0065a6;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-100%);
}
.menu-open {
    transform: translateX(0);
}
  
.menu-closed {
    transform: translateX(-100%);
    opacity: .3;
}



.nav_blue{
    .close, .person{border-radius: 100%; border: solid 2px white; font-size: 15px; display: flex; justify-content: center; align-items: center;}
    .mat-divider_color{border: solid 1px #1d76b0; border-bottom-style: none;}
    .email, .location_on{font-size: 22px;}
    .margin0{margin: 0;}
    .chevron_right{
        background-color: #0065a6; 
        height: 40px;
        width: 40px; 
        display: flex; 
        align-items: center; 
        justify-content: center;
        border-radius: 0px 24px 24px 0px; 
        position: relative; 
        bottom: 48px;
        left: 238px;
        font-weight: 600;
    }

}

.nav_white{
    &_icon-chevron_right{transform: rotate(90deg);}
    .eltrica_gap{gap: 4.2rem;}
    .hidraulico_gap{gap: 9.7rem;}
    .pesca_gap{gap: 12.5rem;}
}